body {
    background: #080054;
    background: linear-gradient(90deg, rgba(8, 0, 84, 1) 0%, rgba(29, 78, 253, 1) 50%, rgba(8, 0, 84, 1) 100%);
    color: #fffefe;
}
header {
    background-color: #000000;
    text-align: center;
    font-size: 400%;
}

nav ul {
    background: #000000;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-block-start: 5em;
    margin-block-end: 1em;
    font-size: 200%;
    gap: 180px;
}

li a {
    text-decoration: none;
    color: #ffffff;
}

img {
    width: 800px;
    height: 300px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 300%;
}

p {
    text-align: center;
    color: #ffffff;
 
    margin: 20px 0; /* Adiciona um espaçamento acima e abaixo da linha */
}

article {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #070707;
    border-radius: 0px;
}