@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background: #080054;
    background: linear-gradient(90deg, rgba(8, 0, 84, 1) 0%, rgba(29, 78, 253, 1) 50%, rgba(8, 0, 84, 1) 100%);
    color: #fffefe;
}
header {
    background-color: #000000;
    text-align: center;
    font-size: 400%;
    padding: 16px 32px;
}

nav ul {
    background: #000000;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-block-start: 5em;
    margin-block-end: 1em;
    font-size: 200%;
    gap: 180px;
}

button{
    margin-block-start: 1em;
    margin-block-end: 3em;
}

li a {
    text-decoration: none;
    color: #ffffff;
}

img {
    width: 800px;
    height: 300px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 300%;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', serif;
    margin: 20px 0; /* Adiciona um espaçamento acima e abaixo da linha */
}

article {
    max-width: 950px;
    margin: auto;
    padding: 80px;
    background-color: #000000;
}